-- MySQL dump 10.13  Distrib 8.4.6, for Win64 (x86_64)
--
-- Host: localhost    Database: nyc_taxi
-- ------------------------------------------------------
-- Server version	8.4.6

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `payment_types`
--

DROP TABLE IF EXISTS `payment_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_types` (
  `pyt_type_id` varchar(16) NOT NULL,
  `description` varchar(100) NOT NULL,
  PRIMARY KEY (`pyt_type_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_types`
--

LOCK TABLES `payment_types` WRITE;
/*!40000 ALTER TABLE `payment_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rate_cds`
--

DROP TABLE IF EXISTS `rate_cds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rate_cds` (
  `rate_cd_id` varchar(16) NOT NULL,
  `description` varchar(100) NOT NULL,
  PRIMARY KEY (`rate_cd_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rate_cds`
--

LOCK TABLES `rate_cds` WRITE;
/*!40000 ALTER TABLE `rate_cds` DISABLE KEYS */;
/*!40000 ALTER TABLE `rate_cds` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trips`
--

DROP TABLE IF EXISTS `trips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `trips` (
  `trip_no` varchar(32) NOT NULL,
  `piu_timedate` datetime NOT NULL,
  `arrival_timedate` datetime NOT NULL,
  `passenger_count` int unsigned NOT NULL,
  `piu_latitude` decimal(9,6) NOT NULL,
  `piu_longitude` decimal(9,6) NOT NULL,
  `arv_latitude` decimal(9,6) NOT NULL,
  `arv_longitude` decimal(9,6) NOT NULL,
  `trip_period_sec` int unsigned NOT NULL,
  `trip_period_min` decimal(10,3) DEFAULT NULL,
  `trip_dist_km` decimal(10,3) NOT NULL,
  `trip_speed_kmh` decimal(10,3) DEFAULT NULL,
  `distance_per_passenger` decimal(10,3) DEFAULT NULL,
  `piu_hour` tinyint DEFAULT NULL,
  `piu_day` varchar(16) DEFAULT NULL,
  `piu_month` varchar(16) DEFAULT NULL,
  `vnd_id` varchar(16) DEFAULT NULL,
  `rate_cd_id` varchar(16) DEFAULT NULL,
  `pyt_type_id` varchar(16) DEFAULT NULL,
  PRIMARY KEY (`trip_no`),
  KEY `idx_trips_piu_timedate` (`piu_timedate`),
  KEY `idx_trips_piu_hour` (`piu_hour`),
  KEY `idx_trips_piu_geo` (`piu_latitude`,`piu_longitude`),
  KEY `idx_trips_vnd_id` (`vnd_id`),
  KEY `idx_trips_rate_cd_id` (`rate_cd_id`),
  KEY `idx_trips_pyt_type_id` (`pyt_type_id`),
  CONSTRAINT `fk_trips_payment_type` FOREIGN KEY (`pyt_type_id`) REFERENCES `payment_types` (`pyt_type_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `fk_trips_rate` FOREIGN KEY (`rate_cd_id`) REFERENCES `rate_cds` (`rate_cd_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `fk_trips_vendor` FOREIGN KEY (`vnd_id`) REFERENCES `vendors` (`vnd_id`) ON DELETE RESTRICT ON UPDATE RESTRICT,
  CONSTRAINT `chk_arv_latitude_range` CHECK ((`arv_latitude` between -(90) and 90)),
  CONSTRAINT `chk_arv_longitude_range` CHECK ((`arv_longitude` between -(180) and 180)),
  CONSTRAINT `chk_piu_latitude_range` CHECK ((`piu_latitude` between -(90) and 90)),
  CONSTRAINT `chk_piu_longitude_range` CHECK ((`piu_longitude` between -(180) and 180)),
  CONSTRAINT `chk_trip_dist_nonneg` CHECK ((`trip_dist_km` >= 0)),
  CONSTRAINT `chk_trip_period_positive` CHECK ((`trip_period_sec` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trips`
--

LOCK TABLES `trips` WRITE;
/*!40000 ALTER TABLE `trips` DISABLE KEYS */;
/*!40000 ALTER TABLE `trips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vendors`
--

DROP TABLE IF EXISTS `vendors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vendors` (
  `vnd_id` varchar(16) NOT NULL,
  `vendor_name` varchar(100) NOT NULL,
  PRIMARY KEY (`vnd_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vendors`
--

LOCK TABLES `vendors` WRITE;
/*!40000 ALTER TABLE `vendors` DISABLE KEYS */;
/*!40000 ALTER TABLE `vendors` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-14 16:47:14
